<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="duplexendpoint" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60205/CommunicationService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="duplexendpoint"
                contract="CommunicationServiceReference.ICommunicationService"
                name="duplexendpoint">
                <identity>
                    <userPrincipalName value="DESKTOP-E2FHHDJ\Alex" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>