<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0-beta1" targetFramework="net47" />
  <package id="log4net" version="2.0.8" targetFramework="net47" />
  <package id="Scs" version="1.1.1" targetFramework="net47" />
  <package id="System.Reactive" version="4.0.0-preview00001" targetFramework="net47" />
  <package id="System.Reactive.Core" version="4.0.0-preview00001" targetFramework="net47" />
  <package id="System.Reactive.Interfaces" version="4.0.0-preview00001" targetFramework="net47" />
  <package id="System.Reactive.Linq" version="4.0.0-preview00001" targetFramework="net47" />
  <package id="System.Reactive.PlatformServices" version="4.0.0-preview00001" targetFramework="net47" />
  <package id="System.Reactive.Windows.Threading" version="4.0.0-preview00001" targetFramework="net47" />
</packages>