@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h3 class="col-md-9">Welcome to OpenNos Server. This project is completely under community development.</h3>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Install</h2>
        <p>Learn how to Install the Server.</p>
    </div>
    <div class="col-md-3">
        <h2>Register</h2>
        <p>Register for the OpenNos Server.</p>
    </div>
    <div class="col-md-3">
        <h2>Share</h2>
        <p>Share your Ideas and contribute!</p>
    </div>
</div>
